<title>{{ title }} — {{ settings:site_name }}</title>
<meta name="description" content="{{ intro | strip_tags | entities }}">
<script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": blogPost,
              "name": "{{ title }}",
              "author": {
                "@type": "Person",
                "name": "{{ author:name }}"
              },
              "datePublished": "{{ date format="Y-m-d" }}",
              "description": "{{ intro | strip_tags | entities }}"
            }

</script>